	<div class="row">
		<div class="col-xs-10"><h1>CS:GO Tournaments</h1></div>
		<div class="col-xs-8">
			<ul class="list-group">
			<% @tournaments.each do |tournament, i| %>
				<button type="button" class="list-group-item"><a href="/tournaments/<%= tournament.id %>">Match <%= tournament.name %></a></button>
			<% end %>
			</ul>
		</div>
	</div>
