<h1><%= @match.name %> </h1>

<% @games.each do |game| %>
<h2> <%= game.map %> </h2>
<iframe width="640" height="360" src="<%=game.videolink%>" frameborder="0" allowfullscreen></iframe>
<% end %>
<p>&nbsp</p>
<a href="/matches">Back</a>

