
<div class="row">
	<div class="col-xs-2"> 
		<a class="btn btn-primary pull-left" type="button" href="/matches">Back</a>
	</div>
	<div class="col-xs-2 col-xs-offset-10">
		<a class="btn btn-success pull-right" type="button" href="/matches/<%= @match.id + 1 %>">Next</a>
	</div>
</div>
<div class="row">

<div class="col-xs-10">
	<h2><%= @match.name %>  </h2>
</div>
</div>

<% @games.each do |game| %>
<h3><%= game.map %></h3>
<div class="row">
	<div class="embed-responsive embed-responsive-16by9">
		<iframe src="<%=game.videolink%>" frameborder="0" class="embed-responsive-item" allowfullscreen></iframe>
	</div>
</div>
<% end %>


