<div class="row">

<div class="col-xs-10">
	<h2><%= @match.name %> </h2>
</div>

<div class="col-xs-2">
	<a class="btn btn-primary pull-right" type="button" href="/matches">Back</a>
</div>
</div>

<% @games.each do |game| %>
<h2> <%= game.map %> </h2>
<div class="embed-responsive embed-responsive-16by9">
<iframe src="<%=game.videolink%>" frameborder="0" class="embed-responsive-item" allowfullscreen></iframe>
</div>
<% end %>
<p>&nbsp</p>


